 <div class="section ">
            <div class="container">
                <div class="row example-page">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                        <h4 class="title"> Our Latest / Upcoming Products & Events</h4>
                        <h2 class="title">Media Center</h2><br/>
                        <p class="description">
                           Nature Aquarium Goods is a product lineup not only realizing the beautiful aquascape by promoting the healthy growth of plants, but also uniting the whole aquarium system under a single design theme.
Would you be interested in reaching the higher end of Nature Aquarium with professional products?
                        </p><br/>
                        
                        <a href="#" class="btn btn-outline-danger btn-round" target="_blank">Read More</a>
                    </div>

                    
                </div>
            </div>
        </div> 

         <div class="section" style="background-image: url('assets/img/wale.jpg'); ">
            <div class="container">
               <div class="row example-page">
                    <div class="col-lg-3 col-md-2 col-sm-2 text-center" >
                        <a href="https://adaindia.in/" target="_blank">
                <img src="assets/img/stark.png" alt="Rounded Image" class="img-rounded img-responsive">
                <a href="#" class="btn btn-outline-neutral btn-round">Inner Circle</a>
            </a> 
                    </div>

                    <div class="col-lg-3 col-md-2 col-sm-2 text-center" >
                        <a href="https://adaindia.in/" target="_blank">
                <img src="assets/img/thor.png" alt="Rounded Image" class="img-rounded img-responsive" >
                <a href="#" class="btn btn-outline-neutral btn-round">Inner Circle</a>
            </a> 
                    </div>
                   <div class="col-lg-3 col-md-2 col-sm-2 text-center" >
                        <a href="https://adaindia.in/" target="_blank">
                <img src="assets/img/stark.png" alt="Rounded Image" class="img-rounded img-responsive" >
                <a href="#" class="btn btn-outline-neutral btn-round">Cars</a>
            </a> 
                    </div>
                         <div class="col-lg-3 col-md-2 col-sm-2 text-center" >
                        <a href="https://adaindia.in/" target="_blank">
                <img src="assets/img/hulk.png" alt="Rounded Image" class="img-rounded img-responsive">
                <a href="#" class="btn btn-outline-neutral btn-round">Inner Circle</a>
            </a> 
                    </div>
                    
                </div>
                    </div>
</div>
       <div class="section" id="carousel">
    <div class="container" id="imige">
        <div class="tim-title">
            <h3>Ada Aquariums</h3>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/aqua1.jpg" alt="Random first slide">
                            <div class="carousel-caption">
                                <p>Somewhere around</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/aqua2.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                                <p>Somewhere else</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/aqua4.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <p>Here it is</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <div class="col-md-4 mr-auto ml-auto">
                <h2> welcome to the DC universe</h2>
                <p>Cube Cabinet Clear is an aquarium cabinet made of the same clear glass material as Cube Garden (Woodbase Board is an optional item). With its ultimately simple design, this cabinet perfectly matches Cube Garden and AQUASKY. For 60cm aquarium tanks, complete stand sets, including Solar Ⅰ/Solar Ⅱ Stand and Woodbase Board are also available. Please select product according to your lighting system.</p>
        </div>
    </div>
</div>
</div>
